@charset "UTF-8";

a {
	text-decoration: none;
	color: white;
}

#grid {
	border: 3px solid pink;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: 0;
	grid-template-columns: 1fr 1fr 1fr;
}

h1 {
	border: 10px solid gray;
	font-size: 45px;
	text-align: center;
	padding: 20px;
	margin: 0;
}

div {
	border: 3px solid gray;
	font-size: 25px;
}

ol {
	margin: 0;
}
